<h2 (click)="test()">{{spellName}}</h2>
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <p>Level: {{spellLevel}}</p>
      <p>School: {{spellSchool}}</p>
      <p>Casting Time: {{spellCastingTime}}</p>
      <p>Concentration: {{spellConcentration}}</p>
      <p>Duration: {{spellDuration}}</p>
      <p>Range: {{spellRange}}</p>
      <div *ngIf="spellMaterials[0].name !== 'None'">
        <p>Materials:</p>
        <ul>
          <li *ngFor="let material of spellMaterials">{{material.name}}</li>
        </ul>
        <p>Consumes: {{spellConsumes}}</p>
      </div>
    </div>
    <div class="col-lg-6">
      <p>Classes:</p>
      <ul>
        <li *ngFor="let class of spellClasses">{{class.name}}</li>
      </ul>
      <p>Effect:</p>
      <p>{{spellEffect}}</p>
    </div>
  </div>
</div>