<nav class="navbar navbar-expand-lg navbar-dark" id="staticNav">
  <a class="navbar-brand" routerLink="/">SM</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <!-- <a class="nav-item nav-link active" href="#">Home<span class="sr-only">(current)</span></a> -->
      <a class="nav-item nav-link" routerLink="/classes">Classes</a>
      <a class="nav-item nav-link" routerLink="spells">Spells</a>
      <a class="nav-item nav-link" routerLink="/materials">Materials</a>
      <!-- <a class="nav-item nav-link disabled" href="#">Disabled</a> -->
    </div>
  </div>
</nav>

<router-outlet></router-outlet>